syntax: glob
*_ReSharper*
*.unityproj
*.csproj
*.sln
*.suo
*.pdb
*.user
*.DotSettings
*Thumbs.db
*/obj/*
*.orig
*.orig.*
obj/*
*/bin/*
Bin/*
Temp/*
Library/*
UnityVS.*
_UpgradeReport_Files*
*UpgradeLog.htm
*UpgradeLog.XML


Discovery.sln
Discovery-csharp.sln
Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-vs.csproj

ProjectSettings/EditorBuildSettings.asset
